._7psf{display:flex;flex-direction:column;justify-content:flex-start;overflow:hidden;padding:12px;position:relative}._7psg{color:#606770;font-size:13px;font-weight:600;line-height:13px;padding-bottom:4px}._7psh{padding-bottom:12px}
._74r9{border:0;font-size:13px;font-weight:600px;height:40px;padding-left:0;padding-right:0}

#bootloader_jIkJK{height:42px;}.bootloader_jIkJK{display:block!important;}